.forest__social{
    display: flex;
    gap: 33px;
    padding: 0 64px;
    width: 100%;
    margin-top: 21px;
}
.forest__item{
    border-top: 2px solid rgba(53, 83, 98, 0.30);
    padding-top: 16px;
    width: 100%;
    display: flex;
    align-items: start;
}
.forest__item--text{
    color: rgba(53, 83, 98, 0.80);
    font-family: var(--public-sans);
    font-size: 15px;
    line-height: 24px;
    margin: 0;
    padding: 0 0 0 9px;
}
.forest__item--icon{
    height: 24px;
    width: 24px;
}
