<section class="about">
    <h2 class="about__title">We are a non-profit that partners with state criminal justice agencies to advance their use of data and reduce incarceration.</h2>
    <div class="about__list">
        <div class="about__list--item card">
            <span class="card__round">1</span>
            <p class="card__desc">
                intake <br> an agency’s disjointed data
            </p>
        </div>
        <div class="about__list--item card">
            <span class="card__round">2</span>
            <p class="card__desc">
                deploy tools for all levels of <br> decision making
            </p>
        </div>
        <div class="about__list--item card">
            <span class="card__round">3</span>
            <p class="card__desc">
                improve outcomes for justice-impacted individuals
            </p>
        </div>
    </div>
</section>
