<div class="forest__social social">
    <div class="forest__item">
        <img class="forest__item--icon" src="../img/svg/ted-icon.svg" alt="TED Talks">
        <p class="forest__item--text">
            TED Talks
        </p>
    </div>
    <div class="forest__item">
        <img class="forest__item--icon" src="../img/svg/nyt-icon.svg" alt="The New York Times">
        <p class="forest__item--text">
            The New York Times
        </p>
    </div>
    <div class="forest__item">
        <img class="forest__item--icon" src="../img/svg/ss-icon.svg" alt="StateScoop">
        <p class="forest__item--text">
            StateScoop
        </p>
    </div>
    <div class="forest__item">
        <img class="forest__item--icon" src="../img/svg/ap-icon.svg" alt="Associated Press">
        <p class="forest__item--text">
            Associated Press
        </p>
    </div>
    <div class="forest__item">
        <img class="forest__item--icon" src="../img/svg/time-icon.svg" alt="Time">
        <p class="forest__item--text">
            Time
        </p>
    </div>
    <div class="forest__item">
        <img class="forest__item--icon" src="../img/svg/free-icon.svg" alt="Freethink">
        <p class="forest__item--text">
            Freethink
        </p>
    </div>
</div>
