<div class="nav__container">
    <img src="../img/svg/logo.svg" alt="logo">
    <nav class="nav">
        <ul class="nav__item">
            <li class="nav__link"><a href="#">States</a></li>
            <li class="nav__link"><a href="#">Tools</a></li>
            <li class="nav__link"><a href="#">People</a></li>
            <li class="nav__link"><a href="#"> Learn more</a></li>
            <li class="nav__link"><a href="#">Donate</a></li>
        </ul>
        <a class="nav--login" href="#">Log In</a>
    </nav>
</div>
