// если вы хотите использовать sass-переменные - удалите root
// colors
:root {
  // base
  --public-sans: "Public Sans", sans-serif;
  --libre-baskerville: "Libre Baskerville", sans-serif;
  --white-color: #fff;
}
